body {
  font-family: 'Times', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#capsule {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
  font-family: "Bangers", cursive;
}

h1 {
  font-family: 'Bangers', sans-serif;
  margin: 15px;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h3 {
  margin: 0 0 1em 0;
}
/************NAVIGATION***********/

nav {
  text-align: center;
  padding: 10px;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}
/************footer***********/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
/************Page portfolio***********/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #660033;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

a {
  color: #5fb29d;
}

header {
  background: #6ab47b;
  border-color: #599a68;
}

h1,
h2 {
  color: #fff;
}
/*site body*/
/**************
PAGE ABOUT
**********/

.profile-photo {
  display: block;
  max-width: 150 px;
  margin: 0 auto 30px;
  border-radius: 100%;
}
/*site body*/

body {
  background-color: #fff;
  color: #999;
}

:
